body {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.BannerImage {
  max-width: 1240px;
  width: calc(100% - 30px);
  height: 223px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 0 auto;
}
.BannerImage::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.BannerText {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.collapse-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1240px;
  width: calc(100% - 30px);
  align-items: center;
  margin: 40px auto 10px auto;
}
@media (max-width: 530px) {
  .collapse-section {
    margin: 25px auto 0 auto;
  }
}
.collapse-section .collapse-container {
  border-radius: 5px;
  max-width: 1023px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}
@media (max-width: 530px) {
  .collapse-section .collapse-container {
    margin-bottom: 25px;
  }
}
.collapse-section .collapse-container .collapse-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 530px) {
  .collapse-section .collapse-container .collapse-title {
    font-size: 13px;
  }
}
.collapse-section .collapse-container .collapse-title img {
  height: 24px;
  color: white;
  width: 24px;
}
@media (max-width: 530px) {
  .collapse-section .collapse-container .collapse-title img {
    width: 16px;
    height: 16px;
  }
}
.collapse-section .collapse-container .collapse-content {
  padding: 20px;
  border-top: 1px solid #ccc;
  background-color: #F6F6F6;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: #FF6060;
  border-radius: 5px;
}
@media (max-width: 530px) {
  .collapse-section .collapse-container .collapse-content {
    font-size: 11px;
    padding: 10px;
  }
}

footer {
  background-color: black;
  text-emphasis: center;
  width: 100%;
  height: 214px;
  margin-top: auto;
}
footer .logo {
  width: 122px;
  height: auto;
  margin: 50px auto 10px auto;
}
footer .footer__text {
  color: white;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 400px) {
  footer .footer__text {
    font-size: 12px;
    width: 133px;
    margin: 0 auto;
  }
}

.gallerySection {
  margin: 40px auto;
  max-width: 1240px;
  width: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 55px 0 20px 0;
  background-color: #f6f6f6;
  border-radius: 25px;
}
@media (max-width: 400px) {
  .gallerySection {
    background-color: white;
    margin: 0 auto;
    padding: 55px 0 0 0;
  }
}
.gallerySection .logementCard {
  position: relative;
  width: 340px;
  margin-bottom: 35px;
}
.gallerySection .logementCard::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 0 0 10px 10px;
}
.gallerySection .logementCard img {
  width: 100%;
  object-fit: cover;
  height: 340px;
  border-radius: 10px;
}
.gallerySection .logementCard h3 {
  position: absolute;
  bottom: 10px;
  left: 0px;
  color: white;
  padding: 0px 10px;
  border-radius: 5px;
  width: 94%;
  text-align: left;
  margin: 0;
  z-index: 1;
}
.gallerySection .logementCard.empty {
  visibility: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 40px auto;
  padding: 0 20px;
  align-items: center;
}

.topContainer {
  display: flex;
  flex-direction: row;
  max-width: 1240px;
  width: calc(100% - 30px);
  margin: 0 auto;
  justify-content: space-between;
}
@media (max-width: 400px) {
  .topContainer {
    flex-direction: column;
  }
}
.topContainer .logementInfo .logementTitle {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0px;
}
@media (max-width: 530px) {
  .topContainer .logementInfo .logementTitle {
    font-size: 18px;
  }
}
.topContainer .logementInfo .logementLocation {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-top: 5px;
}
@media (max-width: 530px) {
  .topContainer .logementInfo .logementLocation {
    font-size: 14px;
  }
}
.topContainer .logementInfo .logementTags {
  display: flex;
  gap: 15px;
}
.topContainer .logementInfo .logementTags .logementTag {
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #FF6060;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px;
}
@media (max-width: 530px) {
  .topContainer .logementInfo .logementTags .logementTag {
    font-size: 10px;
  }
}
.topContainer .hostContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
@media (max-width: 530px) {
  .topContainer .hostContainer {
    margin-top: 25px;
  }
}
@media (max-width: 400px) {
  .topContainer .hostContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 15px;
  }
}
.topContainer .hostContainer .hostInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.topContainer .hostContainer .hostInfoContainer .hostName {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  width: 100px;
  text-align: right;
}
@media (max-width: 530px) {
  .topContainer .hostContainer .hostInfoContainer .hostName {
    font-size: 12px;
    width: 60px;
    margin-top: 0;
  }
}
@media (max-width: 400px) {
  .topContainer .hostContainer .hostInfoContainer .hostName {
    font-size: 12px;
    width: 60px;
    margin-top: 0;
  }
}
.topContainer .hostContainer .hostInfoContainer .hostPicture {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  margin-left: 15px;
}
@media (max-width: 530px) {
  .topContainer .hostContainer .hostInfoContainer .hostPicture {
    width: 32px;
    height: 32px;
  }
}
.topContainer .hostContainer .logementRating {
  color: black;
}
.topContainer .hostContainer .logementRating .rating {
  width: 250px;
  text-align: right;
}
@media (max-width: 530px) {
  .topContainer .hostContainer .logementRating .rating {
    text-align: left;
    width: 140px;
    padding-top: 8px;
  }
}

.logementInfo-collapseSection {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 25px;
  max-width: 1240px;
  width: calc(100% - 30px);
}
@media (max-width: 600px) {
  .logementInfo-collapseSection {
    flex-direction: column;
  }
}
.logementInfo-collapseSection .collapse-container {
  max-width: 582px;
  width: 48%;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .logementInfo-collapseSection .collapse-container {
    width: 100%;
    margin-bottom: 25px;
  }
}
.logementInfo-collapseSection .collapse-container .collapse-title {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 530px) {
  .logementInfo-collapseSection .collapse-container .collapse-title {
    font-size: 13px;
  }
}
.logementInfo-collapseSection .collapse-container ul {
  list-style: none;
  margin-left: -40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  height: 68px;
}
@media (max-width: 505px) {
  .logo {
    height: 47px;
  }
}

.NavBar a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
  font-size: 24px;
  color: #FF6060;
}
@media (max-width: 440px) {
  .NavBar a {
    font-size: 12px;
  }
}
.NavBar a.active {
  text-decoration: underline;
}

.slideshowContainer {
  position: relative;
  max-width: 1240px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.slideshowContainer .slideshowImg {
  width: 100%;
  max-width: 1240px;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
  margin: 15px auto 0 auto;
}
@media (max-width: 400px) {
  .slideshowContainer .slideshowImg {
    height: 225px;
    margin: 0 auto 0 auto;
  }
}
.slideshowContainer .image-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
.slideshowContainer .image-nav-button img {
  height: 80px;
  width: 50px;
}
@media (max-width: 400px) {
  .slideshowContainer .image-nav-button img {
    height: 20px;
    width: 20px;
  }
}
.slideshowContainer .image-nav-button:focus {
  outline: none;
}
.slideshowContainer .image-nav-button.prev-button {
  left: 12px;
}
@media (max-width: 400px) {
  .slideshowContainer .image-nav-button.prev-button {
    left: 6px;
  }
}
.slideshowContainer .image-nav-button.next-button {
  right: 20px;
}
@media (max-width: 400px) {
  .slideshowContainer .image-nav-button.next-button {
    right: 10px;
  }
}
.slideshowContainer .slideshowPagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 400px) {
  .slideshowContainer .slideshowPagination {
    display: none;
  }
}

.star {
  width: 36px;
  height: 36px;
  margin-left: 10px;
}
@media (max-width: 530px) {
  .star {
    width: 18px;
    height: 18px;
  }
}

.error-content {
  margin-bottom: 110px;
}

.title404 {
  font-family: "Montserrat", sans-serif;
  color: #FF6060;
  font-size: 288px;
  font-weight: 700;
  margin: 60px 0;
}
@media (max-width: 600px) {
  .title404 {
    font-size: 190px;
  }
}
@media (max-width: 400px) {
  .title404 {
    font-size: 96px;
    margin: 60px 0 70px 0;
  }
}

.text404 {
  font-size: 36px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #FF6060;
  margin: 0 10px 120px 10px;
}
@media (max-width: 400px) {
  .text404 {
    font-size: 18px;
    margin: 0 10px 90px 10px;
  }
}

.link404 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #FF6060;
}
@media (max-width: 400px) {
  .link404 {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
