@import '../abstracts/variables';

.topContainer {
  display: flex;
  flex-direction: row;
  max-width: 1240px;
  width: calc(100% - 30px);
  margin: 0 auto;
  justify-content: space-between;

  @media (max-width: 400px) {
    flex-direction: column;
  }

  .logementInfo {
    .logementTitle {
      color: $primary-color;
      font-size: 36px;
      font-weight: 500;
      text-align: left;
      margin-bottom: 0px;

      @media (max-width: 530px) {
        font-size: 18px;
      }
    }

    .logementLocation {
      color: $primary-color;
      font-size: 18px;
      font-weight: 500;
      text-align: left;
      margin-top: 5px;

      @media (max-width: 530px) {
        font-size: 14px;
      }
    }

    .logementTags {
      display: flex;
      gap: 15px;

      .logementTag {
        font-size: 14px;
        font-weight: 500;
        color: white;
        background-color: $primary-color;
        border-radius: 10px;
        font-family: $primary-font;
        padding: 5px 10px;

        @media (max-width: 530px) {
          font-size: 10px;
        }
      }
    }
  }

  .hostContainer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @media (max-width: 530px) {
      margin-top: 25px;
    }

    @media (max-width: 400px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: 15px;
    }

    .hostInfoContainer {
      display: flex;
      flex-direction: row;
      justify-content: end;

      .hostName {
        display: block;
        font-family: $primary-font;
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        width: 100px;
        text-align: right;

        @media (max-width: 530px) {
          font-size: 12px;
          width: 60px;
          margin-top: 0;
        }

        @media (max-width: 400px) {
          font-size: 12px;
          width: 60px;
          margin-top: 0;
        }
      }

      .hostPicture {
        width: 64px;
        height: 64px;
        border-radius: 50px;
        margin-left: 15px;

        @media (max-width: 530px) {
          width: 32px;
          height: 32px;
        }
      }
    }

    .logementRating {
      color: black;

      .rating {
        width: 250px;
        text-align: right;

        @media (max-width: 530px) {
          text-align: left;
          width: 140px;
          padding-top: 8px;
        }
      }
    }
  }
}

.logementInfo-collapseSection {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 25px;
  max-width: 1240px;
  width: calc(100% - 30px);

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .collapse-container {
    max-width: 582px;
    width: 48%;
    margin-bottom: 50px;

    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 25px;
    }

    .collapse-title {
      font-size: 18px;
      font-weight: 500;

      @media (max-width: 530px) {
        font-size: 13px;
      }
    }

    ul {
      list-style: none;
      margin-left: -40px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
