@import '../abstracts/variables'; 

.NavBar a {
  text-decoration: none;
  font-family: $primary-font;
  margin-left: 30px;
  font-size: 24px;
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}